{% extends "main/base.html" %}

{% block content %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">       
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card w-75 shadow-custom">
                <div class="card-body">


                  <div class="container h-100 d-flex justify-content-center align-items-center bg-light mt-5 py-2 my-2">
                      <i class="fa fa-check-circle text-center fa-4x text-success" aria-hidden="true"></i>
                    </div>
                      <div class="text-center">
                          <h3 class="text-dark text-center">Your password has been set.</h3>           
                          <p> Have a great day!  </p>
                          <div class="py-5 text-center">
                              <a href="{% url 'user_login' %}" class="btn btn-success">
                              Login    
                            </a>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}