 {% extends "main/base.html" %}
 {% block content %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        
        <div class="row d-flex justify-content-center align-items-center h-100"> 
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="card w-75 shadow-custom">  

                    <form method="POST" action="{% url 'password_reset' %}">
                    <h3 class="py-2 text-center"> Password reset</h3>
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content%}