{% extends "main/base.html" %}

{% block content %}

{% if validlink %}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">       
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card w-75 shadow-custom">
                <div class="card-body">
                    <form method="POST">
                    {% csrf_token %}
                         
                            <p class="card-text py-2 text-center">
                                <b>Enter your new password to confirm password change</b>
                            </p>
                            <div data-mdb-input-init class="form-outline">
                                <input type="password" name="new_password1" class="form-control my-3" required />
                                <label class="form-label">Enter your new password</label>
                            </div>
                            <div data-mdb-input-init class="form-outline">
                                <input type="password" name="new_password2" class="form-control my-3" required />
                                <label class="form-label">Repeat your new password</label>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Reset password</button>
                        
                    </form>
                </div>
           </div>
        </div>  
    </div>    
</section >
{% else %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">       
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card w-75 shadow-custom">
                <div class="card-body">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                        <p><i class="fa fa-exclamation-triangle fa-5x text-center text-danger"></i><br/>Access Denied</p>
                                </div>
                                <div class="col-md-10">
                                        <h3></h3>
                                        <p>Expired password reset link, try to reset your password again or please turn to the site admins</p>
                                        <a class="btn btn-dark" href="{% url 'password_reset' %}">Back</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>


{% endif %}

{% if form.errors %}

<div class="toast-container bottom-0 end-0 p-3">
  <div class="toast show fade" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
      <div class="d-flex gap-4">
        <span class="text-primary"><i class="fa-solid fa-circle-info fa-lg"></i></span>
        <div class="d-flex flex-grow-1 align-items-center">
          <span class="fw-semibold">

          <div class="alert alert-danger border border-danger border-2" role="alert">
			{% for key, value in form.errors.items %}
                    <p> <strong>{{ value }}</strong></p>
            {% endfor %}
			</div>         
		  </span>   
        </div>
      </div>
    </div>
  </div>
</div>



{% endif %}


{% endblock content %}