{% extends "main/base.html" %}

{% block content %}

<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="py-5">
        <div class="card rounded-3 shadow-custom2">
          <div class="card-body p-4">
            <div class="clearfix">
                
                <a class="btn btn-info left" id="btn-calendar" href="{% url 'calendar' %}?{{prev_month}}"><i class="fa-solid fa-left-long"></i> Previous Month </a>
                <a class="btn btn-info right" id="btn-calendar" href="{% url 'calendar' %}?{{next_month }}">Next Month <i class="fa-solid fa-right-long"></i></a>
            </div>
            {{ calendar }}


                </div>
            </div>
         </div>
    </div>
     
</div>

<div class="row justify-content-center">
  <a href="{% url 'home' %}"  class="btn btn-outline-secondary mx-2 text-center py-3 my-4 w-75"><i class="fa-solid fa-circle-arrow-left fa-lg"></i> Home</a>
</div>
</section>
{% endblock content %}