{% load static%}

{% if messages %}
	{% for message in messages %}
		{% if message.tags == 'success' %}
			<div class="alert alert-success border border-danger border-2" role="alert">
				{{ message|safe|escape }}
			</div>				
		{% elif message.tags == 'error' %}	 
			<div class="alert alert-danger border border-danger border-2" role="alert">
				{{ message|safe|escape }}
			</div>
		{% elif message.tags == 'info' %}
			<div class="alert alert-info border border-info border-2" role="alert">
				{{ message|safe|escape }}
			</div>
		{% elif message.tags == 'warning' %}
			<div class="alert alert-warning border border-warning border-2">
				{{ message|safe|escape }}
			</div>
		{% endif %}

	{% endfor %}  
{% endif %}













