<nav class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-dark" data-mdb-navbar-init>
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-list-ol fa-2x" aria-hidden="true"></i>&nbsp;&nbsp;<h4>To do application</h4></a>
    <button class="navbar-toggler" type="button" data-mdb-collapse-init
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'api-summary' %}"><small><b class="badge badge-dark mx-5">API</b></small></a>
        </li>
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_signup' %}"><i class="fa fa-user-plus" aria-hidden="true"></i><b> Sign up </b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i><b> Login</b></a>        
        </li>
        {% else %}

         <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_user' %}"><i class="fa-solid fa-user"></i><b></b></a>        
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'calendar' %}"><i class="fa-solid fa-calendar-days"></i><b> Calendar</b></a>        
          </li>
        
          <li class="nav-item">
          <form method="POST" action="{% url 'user_logout' %}">
                {% csrf_token %}
                <button class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i><b> Sign out</b></button>
          </form>
          </li>
          

        {% endif %}

      </ul>
    </div>
  </div>
</nav>