{% extends "main/base.html" %}
{% block content %}

{% block messages %}
{% endblock messages%}
        
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 w-100">
      <div class="py-5">
            <div class="card shadow-custom">
                <div class="card-body">
                    {% include "main/messages.html" %}
                    <h1>Change Password for user: ({{request.user.username}}) </h1>
                    <hr>
                    <!-- edit form column -->
                    <div class="col-md-9 personal-info py-5 my-5 ">
                        
                        <form class="form-horizontal" role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-lg-8">
                                {% for field in form %}
                                <label class="form-label">{{field.label}}</label>
                                {{field}}
                                {% endfor %}
                            </div>
                        </div>
                            <button type="submit" class="btn btn-primary my-3 btn">Submit</button>
                            <a href="{% url 'edit_user' %}"  class="btn btn-outline-secondary my-3" data-mdb-tooltip-init title="Back" data-mdb-placement="bottom"><i class="fa-solid fa-circle-arrow-left fa-lg"></i></a>
                        </form>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
{% endblock content  %}